.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .login-box {
    background-color: #262626;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fafafa;
    color: #000;
  }
  
  button[type='submit'] {
    width: 100%;
    padding: 8px 12px;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
  
  .signup-link p {
    margin-bottom: 5px;
  }
  
  .signup-link a {
    color: #0095f6;
    font-weight: bold;
    text-decoration: none;
  }

  .redText{
    color:rgb(243, 26, 26);
  }
  